body{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/47c2bc92-5a2a-4f33-8f91-4314e9e62ef1/web/BR-pt-20240916-TRIFECTA-perspective_c2bebe15-295b-4009-9a1c-893d9f501956_large.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    height: 2000px;
}

.barra {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    position: fixed;

}

.navegacao {
    display: flex;
    position: absolute;
    gap: 10px;
    top: 200px;
    flex-direction: ;
    /*AJEITAR ESSA CLASSE, ISSO É UMA GAMBIARRA MAL FEITA, Ass: J Pedro */
}


.titulo {
    color: white;
    display: flex;
    justify-content: center;
    font-size:80px;
}

.rodape a {
    text-decoration: none;
    color: white;
}
.botao{
    gap: 10px;
  background-color: rgb(0, 0, 0);
    font-size: 40px;
    list-style: none;
    padding: 4%;
    border-radius: 20px;
}

.botao a {
    text-decoration: none;
    color: rgb(240, 11, 11);
    
   
}


